* {
    max-width: 100%;
}
div {
    color: #FFFFFF;
    font-family: 'Segoe UI';
    transition: all 0.3s ease-in-out;
}
body {
    background-color: var(--background-color);
    color: #FFFFFF;
    font-family: 'Segoe UI';
    transition: all 0.3s ease-in-out;
}
/*animation cho toàn trang*/
.animated-element {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 1s ease-out;
}
.appear {
    opacity: 1;
    transform: translateY(0);
}
/*nổi bật cho thanh sign-up và login*/
.rounded-red-btn {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0);
    transition: box-shadow 0.25s ease-in-out;
}
.rounded-red-btn:hover {
    box-shadow: 0px 0px 15px rgba(20, 17, 17, 0.8);
    transition: box-shadow 0.3s ease-in-out;
}
/*background hình lửa trại bên trong header*/
.main-wrapper {
    /*trộn 2 loại background với nhau(trộn ảnh và màu)*/
    background: linear-gradient(rgba(5, 22, 48, 0.7), rgba(5, 22, 48, 0.7)),
        url('../images/banner/banner.jpg');
    background-position: center;
    background-size: cover;
    padding: 30px;
    padding-top: 20px;
    width: 100%;
    height: 450px;
}
/* thẻ banner*/
.banner {
    width: 255px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 41.5%;
    margin-top: 12%;
    color: #FFFFFF;
}
/*Hiển thị trang hiện tại đang truy cập*/
.banner_main {
    font-size: 48px;
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

/* Hiển thị bản đồ trang đang truy cập*/
.banner_side {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.banner_side1,
.banner_side2 {
    padding: 5px;
    margin: auto;
}

a:hover {
    color: #1e7bd8;
    cursor: pointer;
}

a {
    color: #ccc;
}

.banner_side2 {
    color: #1e7bd8;
    font-weight: bold;
    cursor: pointer;
}

/*xây dựng phần thân*/
/*tạo 1 khu vực chính dành cho thân*/
.main_blog {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1400px;
    /* height: 1200px; */
    white-space: nowrap;
    display: flex;
    /*display: flex;*/
}

/*khu vực chính bên trong khu vực chính của thân chiếm 70% */
.main_content {
    margin-top: 50px;
    margin-right: -75px;
    flex: 50%;
}

/*khu vực chính 70% chia làm 3 hàng- 4 cột*/
.hang1
/*.hang2,.hang3*/
    {
    width: 90%;
    height: 364px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*xét 12 ô trong khu vực 70% theo tỉ lệ 3x4*/
.cot1
/*,.cot2,.cot3,.cot4,.cot5,.cot6,.cot7,.cot8,.cot9,.cot10,.cot11,.cot12*/
    {
    opacity: 0;
    width: 250px;
    height: 350px;
    margin-top: 1%;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
}

.cot1:hover
/*
.cot2:hover,
.cot3:hover,
.cot4:hover,
.cot5:hover,
.cot6:hover,
.cot7:hover,
.cot8:hover,
.cot9:hover,
.cot10:hover,
.cot11:hover,
.cot12:hover*/ {
    border: 2px solid yellow;
    cursor: pointer;
    transition: border 0.3s;
}

.cot1_main
/*
.cot2_main,
.cot3_main*/ {
    background-image: url('../images/blog-it1.jpg');
}

.cot1_side
/*
.cot2_side,
.cot3_side,
.cot4_side,
.cot5_side,
.cot6_side,
.cot7_side,
.cot8_side,
.cot9_side,
.cot10_side,
.cot11_side,
.cot12_side*/ {
    height: 50%;
    max-width: 100%;
}
/*animation cho các ô*/
.cot1 {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.75s ease, transform 0.75s ease;
}

.cot1.appear {
    opacity: 1;
    transform: translateY(0);
}
/*căn chỉnh ảnh*/
.cot1_main {
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}
.cot1_main:hover{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

/* giới hạn tối đa 3 dòng Hiển thị "..." khi bị tràn */
/*Điều chỉnh 3 nội dung bên trong mỗi ô*/
.cot1_content1 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Giới hạn 3 dòng */
    -webkit-box-orient: vertical;
    /*nếu bị tràn dòng, thay thế bằng "..."(ellipsis)*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    /* Cho phép xuống dòng */
    margin: 5px;
    margin-left: 7px;
    width: 90%;
}

.cot1_content3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Giới hạn 3 dòng */
    -webkit-box-orient: vertical;
    /*nếu bị tràn dòng, thay thế bằng "..."(ellipsis)*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    /* Cho phép xuống dòng */
    margin: 5px;
    margin-left: 7px;
    width: 90%;
}

.cot1_content1:hover,
.cot1_content3:hover {
    text-decoration: underline 1px;

}

.cot1_content1 {
    padding-left: 5px;
    font-size: 16px;
    font-weight: bold;
    /*color: #3F7DB2;*/
    color: #408ed2;

}
.cot1_content1:hover {
    color: #FFE836;
}

.cot1_content2 {
    margin: 5px;
    margin-left: 7px;
    margin-top: 10px;
    color: #FFFFFF99;
    font-size: 12px;
}

.cot1_content3 {
    margin-top: 5px;
    color: #FFFFFFCC;
}

/* khu vực phụ bên trong khu vực chính chiếm 15%*/
.side_blog {
    flex: 15%;
    height: 600px;
    margin-right: 1cm;
    margin-top: 5px;
    padding-left: -20px;
}

/* khu vực phụ 30% chia làm 3 hàng, chia đều cho cân bằng với cột chính 70%*/
.thanh4,
.thanh5,
.thanh6 {
    width: 400px;
    height: 380px;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 13%;
}

.S_content {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom: 10px;
}

hr {
    background-color: #FFFFFF;
    color: #FFFFFF;
    height: 2px;
}

.row_search {
    width: 100%;
    padding-top: 10px;
}

.thanh_search {
    width: 79%;
    flex-direction: row;
    flex: 70%;
    padding: 12px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #233A50;
    opacity: 1;
    color: #FFFFFF;
}

.thanh_tim_kiem {
    width: 20%;
    margin-top: 5px;
    padding: 12px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.thanh_tim_kiem:active {
    transform: translate3d(2px);
    box-shadow: 2px 2px 15px #e2ff05;
    transition: all 0.05s ease-in-out;
}

.tag_of_categories {
    display: block;
    padding-top: 10px;
    padding-block: 10px;
    color: #FFFFFF;
}

.tag2 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.tag2:hover {
    color: #FFE836;
    cursor: pointer;
}

.tag_of_tag {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-top: 10px;
}

.tag1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 35px;
    border: 1px solid black;
    margin: 2px;
    background-color: #233A50;
    color: white;
    font-size: 16px;
}

.tag1:hover {
    border: 1px solid yellow;
    color: #FFE836;
    cursor: pointer;
}

/* Thiết lập thanh phân trang */
.sang_trang {
    width: 485px;
    height: 35px;
    margin: auto;
    margin-right: 44%;
    margin-top: -1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Các số trang */
/* o1 phụ trách viền ngoài, o2 phụ trách đường liên kết bên trong*/
.o1 {
    width: 8%;
    height: 32px;
    border: 2px solid #9D9D9D;
    color: #9D9D9D;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Hiệu ứng hover */
.o1:hover {
    border: 4px solid #FFE836;
    color: #FFE836;
    transition: border 0.25s;
}

.o2 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.o2:hover {
    color: #FFE836;
}

/* Dấu ... */
#dots {
    width: 100%;
    font-size: 20px;
    margin-bottom: 2px;
    color: #9D9D9D;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dots:hover {
    color: #FFE836;
    transition: border 0.25s;
}

/* Hộp tìm kiếm */
/*đưa hộp tìm kiếm ra center của thanh phân trang*/
#search-box {
    display: none;
    position: absolute;
    width: 300px;
    margin-top: 1%;
    margin-left: 30.7%;
    transform: translateX(-50%);
    background-color: rgb(89, 116, 116);
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 10;
    border-radius: 10px;
}

.thanh_tim_kiem2 {
    width: 70%;
    height: 30px;
}

.tim_kiem {
    width: 25%;
    height: 32px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.tim_kiem:active {
    transform: translateY(0.5px);
    box-shadow: 2px 2px 15px #e2ff05;
    border: 1px solid white;
    transition: all 0.2s;
}

#close-search {
    width: 30%;
    height: 30px;
    margin-top: 10px;
    margin-left: 35%;
    border-radius: 5px;
}

footer {
    /* margin-top: 54.8%; */
    z-index: 1000;
    position: relative;
}
.container-flex{
    padding-top: 10px;
    margin-top: 200%;
}
.container {
    margin: auto;
    padding: 20px;
}

@media screen and (max-width: 1615px) {
    * {
        max-width: 100%;
    }

    .main_blog {
        display: block;
        margin: auto;
        width: 100%;
    }

    .main_content {
        margin: auto;
        /*căn giữa*/
        margin-left: 10%;
    }

    .side_blog {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: 5px;
        margin-right: 5px;
        width: 100%;
        margin-top: 20%;
    }

    /*lùi thanh tìm kiếm về cuối*/
    .S_content {
        margin: auto;
    }

    .thanh4,
    .thanh5,
    .thanh6 {
        width: 80%; 
        margin: auto;
    }
    .sang_trang {
        margin: auto;
        margin-top: -70%;
        padding: auto;
    }
    .row_search,
    .tag_of_categories,
    .tag_of_tag {
        margin: auto;
        padding: auto;
    }

    .tag_of_tag {
        margin: auto;
        padding: auto;
        display: flex;
        justify-content: center;
        padding-bottom: 10%;
    }
    #search-box {
        margin: auto;
        margin-left: 39%;
    }

    footer {
        /*margin-top: 300%;*/
        padding: 100px;
        display: none !important;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1300px) {
    * {
        max-width: 100%;
    }

    .main_blog {
        display: block;
        margin: auto;
        width: 100%;
    }

    .main_content {
        margin: auto;
        /*căn giữa*/
        margin-left: 10%;
    }

    .side_blog {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: 5px;
        margin-right: 5px;
        width: 100%;
        margin-top: 20%;
    }

    /*lùi thanh tìm kiếm về cuối*/
    .S_content {
        margin: auto;
    }

    .thanh4,
    .thanh5,
    .thanh6 {
        width: 80%;
        margin: auto;
    }
    .sang_trang {
        margin: auto;
        margin-top: -70%;
    }
    .row_search,
    .tag_of_categories,
    .tag_of_tag {
        margin: auto;
    }

    .tag_of_tag {
        display: flex;
        justify-content: center;
        padding-bottom: 10%;
    }
    #search-box {
        margin: auto;
        margin-left: 49%;
    }

    footer {
        /* margin-top: 120%; */
    }
}

@media screen and (max-width:1099px) {
    .hang1 {
        display: flex;
        /* Chuyển từ flex sang block để mỗi bài viết xuống dòng */
        flex-wrap: wrap;
        width: 100%;
        height: 720px;
    }

    .cot1 {
        width: 40%;
    }

    * {
        max-width: 100%;
    }

    .main_blog {
        display: block;
        margin: auto;
        width: 100%;
    }

    .main_content {
        margin: auto;
        /*căn giữa*/
        margin-left: 10%;
    }

    .side_blog {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: 5px;
        margin-right: 5px;
        width: 100%;
        margin-top: 20%;
    }

    /*lùi thanh tìm kiếm về cuối*/
    .S_content {
        margin: auto;
    }

    .thanh4,
    .thanh5,
    .thanh6 {
        width: 80%;
        margin: auto;
    }

    .row_search,
    .tag_of_categories,
    .tag_of_tag {
        margin: auto;
    }
    .sang_trang {
        display: none;
    }
    .tag_of_tag {
        display: flex;
        justify-content: center;
        padding-bottom: 15%;
    }
    #search-box {
        margin: auto;
        margin-left: 39%;
    }

    footer {
        opacity: 0.8;
        /* margin-top: 400%; */
    }
}

@media screen and (max-width:730px) {
    .banner {
        margin: auto;
        margin-top: 35%;
    }
}